@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.container {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  background-color: green;
  border: 0px;
  padding: 15px;
  width: 100px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.tag {
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
}
.pop-up-animation {
  animation: popup 0.1s ease-in-out;
  transition: transform 0.5s;
  opacity: 1;
}
.tag-container {
  display: flex;
  gap: 20px;
}

@keyframes popup {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.tag:active,
.copy-icon:active {
  transform: scale(0.8);
}

.copy-icon {
  padding-top: 30px;
  padding-left: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
